<div class="tab-navigation cards-tab-navigation">
    <div class="tab-nav-container">
        <button class="tab-link active" onclick="openTab(event, 'tab-decks')">
            <i class="fa fa-layer-group"></i> Decks & Meta
        </button>
        <button class="tab-link" onclick="openTab(event, 'tab-archetypes')">
            <i class="fa fa-chart-pie"></i> Archetypes
        </button>
        <button class="tab-link" onclick="openTab(event, 'tab-analysis')">
            <i class="fa fa-microscope"></i> Card Analysis
        </button>
        <button class="tab-link" onclick="openTab(event, 'tab-market')">
            <i class="fa fa-euro-sign"></i> Market Prices
        </button>
        <button class="tab-link" onclick="openTab(event, 'tab-settings')">
            <i class="fa fa-cog"></i> Settings
        </button>
    </div>
</div>

